body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Αυτό είναι το μυστικό! */
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Πρόσθεσε και αυτό για σιγουριά */
  overflow-x: hidden; /* Κρύβει την οριζόντια μπάρα αν υπάρχει */
}

/* Πρόσθεσε και αυτόν τον κανόνα για να πιάνει όλο το ύψος σωστά */
#root {
  height: 100%;
}
code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
